*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}
.logo{
    width: 100px;
    padding: 30px;
}
.nav-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-right: 40px;
}
 
.nav-items > ul{
    /* display: flex;  */
    /* list-style-type: none;  no style for lists */
    /* font-size: 20px; */
    /* padding: 10px; */
}

.nav-items > ul > li{  /* for giving space to all the nav elements*/
    /* padding: 10px;  */
    /* margin: 10px; */
}
.res-card{
    width: 250px;
    background-color: rgb(162, 252, 252);
    padding: .8rem;
    border-radius: 6px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
    border-radius: 6px;
}

.rescardcontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.filter{
    display: flex;
}
.filter-btn,.search-btn{
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    background-color: rgb(124, 231, 231);
    border: none;
}
.filter-btn:hover,.search-btn:hover{
    border: 1px solid black;
    cursor: pointer;
}
.shimer-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.shimer-card{
    width: 250px;
    background-color: #f0f0f0;
    padding: .8rem;
    border-radius: 6px;
    height: 300px;
}
